
.logo {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 150px;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
}

#bar {
  width: 550px;
  height: 35px;
  margin-top: 15px;
  background-color: white;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 0.1px;
}

#bar:focus {
  border-color: #0066ff;
  border-width: 0.1px;
}

.buttons {
  width: 310px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

#google {
  font-size: 12px;
  float: left;
  background-color: #f2f2f2;
  padding: 12px 20px;
  color: #666666;
  font-weight: bold;
}

#lucky {
  font-size: 12px;
  float: right;
  background-color: #f2f2f2;
  padding: 12px 20px;
  color: #666666;
  font-weight: bold;
}

#google:hover, #lucky:hover {
  color: black;
  border-style: solid;
  border-color: #cccccc;
  border-width: 0.1px;
  box-shadow: 0.5px 1px #e6e6e6;
}


#breadcrumbs li {
  list-style-type: none;
  display: inline;
  float: right;
  padding: 5px;
  font-size: 12px;
  margin: 5px;
  text-align: center;
}

#breadcrumbs a {
  color: #4d4d4d;
}

#breadcrumbs a:hover {
  text-decoration: underline;
}

.settings li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  font-size: 12px;
  padding-top: 2px;
}

.settings a {
  color: #4d4d4d;
}

.settings a:hover {
  text-decoration: underline;
}

#ad, #priv {
  margin-bottom: 10px;
}

#ad {
  float: left;
}

#priv {
  float: right;
}

.bottom {
  border-top: solid;
  border-width: 0.1px;
  border-color: #e6e6e6;
  position: fixed;
  bottom: 0px;
  right: 5px;
  width: 100%;
  background-color: #f2f2f2;
}
